exportPattern("^[^\\.]")

importFrom(Ryacas, "%*%")
importFrom(Ryacas, "%>%")
importFrom(Ryacas, "diag<-")
importFrom(Ryacas, Hessian)
importFrom(Ryacas, Jacobian)
importFrom(Ryacas, as_r)
importFrom(Ryacas, as_y)
importFrom(Ryacas, diag)
importFrom(Ryacas, get_output_width)
importFrom(Ryacas, integrate)
importFrom(Ryacas, lim)
importFrom(Ryacas, lower.tri)
importFrom(Ryacas, set_output_width)
importFrom(Ryacas, simplify)
importFrom(Ryacas, tex)
importFrom(Ryacas, upper.tri)
importFrom(Ryacas, with_value)
importFrom(Ryacas, y_fn)
importFrom(Ryacas, y_print)
importFrom(Ryacas, y_rmvars)
importFrom(Ryacas, yac)
importFrom(Ryacas, yac_assign)
importFrom(Ryacas, yac_cli)
importFrom(Ryacas, yac_expr)
importFrom(Ryacas, yac_silent)
importFrom(Ryacas, yac_str)
importFrom(Ryacas, yac_symbol)
importFrom(Ryacas, ysym)
importFrom(Ryacas, ysym_ls)

importFrom(OpenMx, vech, vechs, mxAlgebra, mxExpectationNormal, mxFitFunctionML, mxModel, mxData, mxRun)

importFrom(metaSEM, as.mxMatrix, as.mxAlgebra)

importFrom(mvtnorm, rmvnorm)

importFrom(stats, rnorm, coef, cov, cor, var, vcov, sd, deriv)

S3method(as.matrix, yac_symbol)

# importFrom(base, as.matrix)

# required by R3.3
#importFrom("graphics", "abline", "arrows", "layout", "par", "plot",
#           "points", "polygon")

#importFrom("stats", "as.formula", "coef", "cov2cor", "deriv",
#           "na.omit", "pchisq", "rnorm", "pnorm", "printCoefmat", "qchisq",
#           "qnorm", "reshape", "var", "vcov", 
#           "cov", "cor", "rWishart", "sd", "quantile")
#importFrom("utils", "read.table")







